<mat-tab-group animationDuration="0ms">
    <mat-tab label="Urbain">

        <table class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Logo</th>
                    <th>Nom</th>
                    <th colspan=3>Prix</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let o of Obj">
                      
                          <td>{{o?.id}}</td>
                          <td><img src="{{o?.logo}}"></td>
                          <td>{{o?.nom}}</td>
                          <td><div *ngIf="o?.prixPo != 0">{{o?.prixPo}}</div></td>
                          <td><div *ngIf="o?.prixPa != 0">{{o?.prixPa}}</div></td>
                          <td><div *ngIf="o?.prixPc != 0">{{o?.prixPc}}</div></td>
                      
                </tr>
            </tbody>
            <tfoot>
                <tr>
                  <th>Id</th>
                  <th>Logo</th>
                  <th>Nom</th>
                </tr>
            </tfoot>
          </table>


    </mat-tab>
    <mat-tab label="Rural">
        
        <table class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Logo</th>
                    <th>Nom</th>
                    <th colspan=3>Prix</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let o of Obj">
                      
                          <td>{{o?.id}}</td>
                          <td><img src="{{o?.logo}}"></td>
                          <td>{{o?.nom}}</td>
                          <td><div *ngIf="o?.prixPoRural != 0">{{o?.prixPoRural}}</div></td>
                          <td><div *ngIf="o?.prixPaRural != 0">{{o?.prixPaRural}}</div></td>
                          <td><div *ngIf="o?.prixPcRural != 0">{{o?.prixPcRural}}</div></td>
                      
                </tr>
            </tbody>
            <tfoot>
                <tr>
                  <th>Id</th>
                  <th>Logo</th>
                  <th>Nom</th>
                </tr>
            </tfoot>
          </table>

    </mat-tab>
  </mat-tab-group>
  


