
    <div class="wrapp">
        <div>
            <mat-card class="box">
                <mat-card-header class="title-card">
                    <h1>{{ personnage?.nom }}</h1><img src="{{personnage?.avatar}}">
                </mat-card-header>
                <mat-card-content>
                    <p>{{ personnage?.classe?.description }}</p>
                </mat-card-content>
            </mat-card>
        </div>
        <div>
            <mat-card class="box">
                <mat-card-header>
                    <h1>Compte</h1><button mat-button (click)="openDialog()" class="btn-dialog">Modif</button>
                </mat-card-header>
                <mat-card-content class="content">  
                    <div class="compte-wrapper">
                        <p><img src="../../assets/var/po.png">{{personnage?.compte.totalPo}}</p>
                        <p><img src="../../assets/var/pa.png">{{personnage?.compte.totalPa}}</p>
                        <p><img src="../../assets/var/pc.png">{{personnage?.compte.totalPc}}</p>
                    </div>
                    
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="wrapper-carac-classe">
        <div>
            <div>
                <mat-card class="box-carac">
                    <mat-card-header>
                        <h1>Caracteristiques</h1>
                    </mat-card-header>
                    <mat-card-content class="content" >  
                        <div class="info">
                            <p><img src="https://img.icons8.com/color/48/000000/shield.png" class="img-carac">{{personnage?.defense}}</p>
                            <p><img src="https://img.icons8.com/color/48/000000/katana.png" class="img-carac">{{personnage?.attaque}}</p>
                            <p><img src="https://img.icons8.com/color/48/000000/flex-biceps.png" class="img-carac">{{personnage?.force}}</p>
                            <p><img src="https://img.icons8.com/doodle/48/000000/brain--v1.png" class="img-carac">{{personnage?.intelligence}}</p>
                            <p><img src="https://img.icons8.com/color/48/000000/running--v1.png" class="img-carac">{{personnage?.dexterite}}</p>
                            <p><img src="https://img.icons8.com/color/48/000000/filled-star.png" class="img-carac">{{personnage?.charisme}}</p>
                            <p><img src="https://img.icons8.com/color/48/000000/guru.png" class="img-carac">{{personnage?.sagesse}}</p>
                            <p><img src="https://img.icons8.com/doodle/48/000000/dice.png" class="img-carac">{{personnage?.constitution}}</p>
                            <p><img src="https://img.icons8.com/color/48/000000/hearts.png" class="img-carac">{{personnage?.vitalite}}</p>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div>
                <mat-card class="box">
                    <mat-card-header class="title-card">
                        <h1>{{personnage?.classe?.nom}}</h1>
                    </mat-card-header>
                    <mat-card-content class="content-classe">  
                        <div></div>
                        <p *ngFor="let sort of personnage?.classe?.sorts" ><img src="{{sort?.logo}}">{{sort?.name}}</p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>

        <div>
            <mat-card class="box-inventaire">
                <mat-card-header>
                    <h1>Inventaire ({{personnage?.inventaire.taille}})</h1><button mat-button (click)="openDialogInventaire(personnage?.inventaire.id)" style="height: 45px;">Shop</button>
                </mat-card-header>
                <mat-card-content>  
                    <mat-list *ngFor="let item of personnage?.inventaire.inventaireItems">
                        <mat-list-item class="logo-objet" style="margin-top : 5px;"><img src="{{item?.objet?.logo}}" > {{item?.objet?.nom}} <button mat-button (click)="deleteInventaireItem(item?.id)" style="height: 25px;">Jeter</button></mat-list-item>
                    </mat-list>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
