
<form [formGroup]="classeForm" (ngSubmit)="onSubmit()" >
    <mat-card-content>
        <mat-form-field class="example-full-width">
            <mat-label>Classe</mat-label>
            <mat-select formControlName="classe">
              <mat-option *ngFor="let Classe of Classes"  [value]="Classe?.id" >
                {{Classe?.nom}}
              </mat-option>
            </mat-select>
        </mat-form-field>
    </mat-card-content>
    <button mat-stroked-button color="accent" class="btn-block">Ajouter</button>
</form>